<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allever.lib.ai.voice.baidu">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--    <application>-->
    <!--    <meta-data-->
    <!--        android:name="com.baidu.speech.APP_ID"-->
    <!--        android:value="17780405" />-->
    <!--    <meta-data-->
    <!--        android:name="com.baidu.speech.API_KEY"-->
    <!--        android:value="vUsYCYkaCCgwKFpQnEIk44ue" />-->
    <!--    <meta-data-->
    <!--        android:name="com.baidu.speech.SECRET_KEY"-->
    <!--        android:value="bZ17uLxDjxqcGipxc7tFrb9gGBpDzozZ" />-->
    <!--    </application>-->
</manifest>
