<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allever.lib.recommend">
    <application>
        <activity
            android:name=".RecommendActivity"
            android:theme="@style/RecommendAppTheme"
            android:screenOrientation="portrait" />
    </application>
</manifest>
